<div>
<textarea class="textarea" placeholder="Bio"></textarea>
<textarea placeholder="Bio" class="textarea textarea-xl"></textarea>
<button class="btn btn-outline btn-secondary">Secondary</button>


</div>